In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Importing csv file into Dataframe
url='https://drive.google.com/uc?export=download&id=1RTVMjhnw6EPltoDa1r72X4HyutHwpT4E'
DF=pd.read_csv(url)
DF

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,NaN,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,1,3,"McGowan, Miss. Anna",female,15.0,0,0,330923,8.0292,NaN,Q
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna Annie""""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen Nellie""""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C

In [ ]:
#Displaying the top part of the Dataframe
DF.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#Displaying the bottom part of the Dataframe
DF.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen Nellie""""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C

In [ ]:
#Displaying a summary of the DataFrame
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  32 non-null     int64
 1   Survived     32 non-null     int64
 2   Pclass       32 non-null     int64
 3   Name         32 non-null     object
 4   Sex          32 non-null     object
 5   Age          25 non-null     float64
 6   SibSp        32 non-null     int64
 7   Parch        32 non-null     int64
 8   Ticket       32 non-null     object
 9   Fare         32 non-null     float64
 10  Cabin        8 non-null      object
 11  Embarked     32 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 3.1+ KB

In [ ]:
#Descriptive statistics for the DataFrame
DF.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,32.000000,32.000000,32.000000,25.000000,32.000000,32.000000,32.000000
mean,16.500000,0.531250,2.343750,27.760000,0.687500,0.562500,32.481116
std,9.380832,0.507007,0.865443,15.822663,1.090649,1.293595,49.992288
min,1.000000,0.000000,1.000000,2.000000,0.000000,0.000000,7.225000
25%,8.750000,0.000000,1.750000,15.000000,0.000000,0.000000,8.044800
50%,16.500000,1.000000,3.000000,28.000000,0.000000,0.000000,17.350000
75%,24.250000,1.000000,3.000000,38.000000,1.000000,0.250000,30.371850
max,32.000000,1.000000,3.000000,58.000000,4.000000,5.000000,263.000000

In [ ]:
#Replacing null value of Age column with median
median_age = DF['Age'].median()
DF = DF.fillna(median_age)
DF.info()
DF.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  32 non-null     int64
 1   Survived     32 non-null     int64
 2   Pclass       32 non-null     int64
 3   Name         32 non-null     object
 4   Sex          32 non-null     object
 5   Age          32 non-null     float64
 6   SibSp        32 non-null     int64
 7   Parch        32 non-null     int64
 8   Ticket       32 non-null     object
 9   Fare         32 non-null     float64
 10  Cabin        32 non-null     object
 11  Embarked     32 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 3.1+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,28.0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,28.0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,28.0,S
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,28.0,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,28.0,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,28.0,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,28.0,C

In [ ]:
# Capitalizing values in the 'Sex' column
DF['Sex'] = DF['Sex'].str.capitalize()
DF

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",Male,22.0,1,0,A/5 21171,7.2500,28.0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",Female,26.0,0,0,STON/O2. 3101282,7.9250,28.0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",Male,35.0,0,0,373450,8.0500,28.0,S
5,6,0,3,"Moran, Mr. James",Male,28.0,0,0,330877,8.4583,28.0,Q
6,7,0,1,"McCarthy, Mr. Timothy J",Male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",Male,2.0,3,1,349909,21.0750,28.0,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Female,27.0,0,2,347742,11.1333,28.0,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",Female,14.0,1,0,237736,30.0708,28.0,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",Female,4.0,1,1,PP 9549,16.7000,28.0,S
11,12,1,1,"Bonnell, Miss. Elizabeth",Female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",Male,20.0,0,0,A/5. 2151,8.0500,28.0,S
13,14,0,3,"Andersson, Mr. Anders Johan",Male,39.0,1,5,347082,31.2750,28.0,S
14,15,1,3,"McGowan, Miss. Anna",Female,15.0,0,0,330923,8.0292,28.0,Q
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",Female,55.0,0,0,248706,16.0000,28.0,S
16,17,0,3,"Rice, Master. Eugene",Male,2.0,4,1,382652,29.1250,28.0,Q
17,18,1,2,"Williams, Mr. Charles Eugene",Male,28.0,0,0,244373,13.0000,28.0,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Female,31.0,1,0,345763,18.0000,28.0,S
19,20,1,3,"Masselmani, Mrs. Fatima",Female,28.0,0,0,2649,7.2250,28.0,C
20,21,0,2,"Fynney, Mr. Joseph J",Male,35.0,0,0,239865,26.0000,28.0,S
21,22,1,2,"Beesley, Mr. Lawrence",Male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna Annie""""",Female,15.0,0,0,330923,8.0292,28.0,Q
23,24,1,1,"Sloper, Mr. William Thompson",Male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",Female,8.0,3,1,349909,21.0750,28.0,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",Female,38.0,1,5,347077,31.3875,28.0,S
26,27,0,3,"Emir, Mr. Farred Chehab",Male,28.0,0,0,2631,7.2250,28.0,C
27,28,0,1,"Fortune, Mr. Charles Alexander",Male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen Nellie""""",Female,28.0,0,0,330959,7.8792,28.0,Q
29,30,0,3,"Todoroff, Mr. Lalio",Male,28.0,0,0,349216,7.8958,28.0,S
30,31,0,1,"Uruchurtu, Don. Manuel E",Male,40.0,0,0,PC 17601,27.7208,28.0,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",Female,28.0,1,0,PC 17569,146.5208,B78,C

In [ ]:
#Converting Age column values to Integer
DF['Age']=DF['Age'].astype('int32')

In [ ]:
# Displaying all columns with values
pd.set_option('display.max_columns', None)
print(DF.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex  Age  SibSp  \
0                            Braund, Mr. Owen Harris    Male   22      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  Female   38      1
2                             Heikkinen, Miss. Laina  Female   26      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  Female   35      1
4                           Allen, Mr. William Henry    Male   35      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500  28.0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250  28.0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  28.0        S

In [ ]:
#Checking Cabin column null value count
DF['Cabin'].isnull().sum()

np.int64(0)

In [ ]:
# Dropping cabin column, because most of the value is null
DF.drop('Cabin', axis=1, inplace=True)
DF

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",Male,22,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Female,38,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",Female,26,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Female,35,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",Male,35,0,0,373450,8.0500,S
5,6,0,3,"Moran, Mr. James",Male,28,0,0,330877,8.4583,Q
6,7,0,1,"McCarthy, Mr. Timothy J",Male,54,0,0,17463,51.8625,S
7,8,0,3,"Palsson, Master. Gosta Leonard",Male,2,3,1,349909,21.0750,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Female,27,0,2,347742,11.1333,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",Female,14,1,0,237736,30.0708,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",Female,4,1,1,PP 9549,16.7000,S
11,12,1,1,"Bonnell, Miss. Elizabeth",Female,58,0,0,113783,26.5500,S
12,13,0,3,"Saundercock, Mr. William Henry",Male,20,0,0,A/5. 2151,8.0500,S
13,14,0,3,"Andersson, Mr. Anders Johan",Male,39,1,5,347082,31.2750,S
14,15,1,3,"McGowan, Miss. Anna",Female,15,0,0,330923,8.0292,Q
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",Female,55,0,0,248706,16.0000,S
16,17,0,3,"Rice, Master. Eugene",Male,2,4,1,382652,29.1250,Q
17,18,1,2,"Williams, Mr. Charles Eugene",Male,28,0,0,244373,13.0000,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Female,31,1,0,345763,18.0000,S
19,20,1,3,"Masselmani, Mrs. Fatima",Female,28,0,0,2649,7.2250,C
20,21,0,2,"Fynney, Mr. Joseph J",Male,35,0,0,239865,26.0000,S
21,22,1,2,"Beesley, Mr. Lawrence",Male,34,0,0,248698,13.0000,S
22,23,1,3,"McGowan, Miss. Anna Annie""""",Female,15,0,0,330923,8.0292,Q
23,24,1,1,"Sloper, Mr. William Thompson",Male,28,0,0,113788,35.5000,S
24,25,0,3,"Palsson, Miss. Torborg Danira",Female,8,3,1,349909,21.0750,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",Female,38,1,5,347077,31.3875,S
26,27,0,3,"Emir, Mr. Farred Chehab",Male,28,0,0,2631,7.2250,C
27,28,0,1,"Fortune, Mr. Charles Alexander",Male,19,3,2,19950,263.0000,S
28,29,1,3,"O'Dwyer, Miss. Ellen Nellie""""",Female,28,0,0,330959,7.8792,Q
29,30,0,3,"Todoroff, Mr. Lalio",Male,28,0,0,349216,7.8958,S
30,31,0,1,"Uruchurtu, Don. Manuel E",Male,40,0,0,PC 17601,27.7208,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",Female,28,1,0,PC 17569,146.5208,C

In [ ]:
#Dropping Duplicate Values in the Dataframe
DF.drop_duplicates(inplace=True)
DF

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",Male,22,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Female,38,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",Female,26,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Female,35,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",Male,35,0,0,373450,8.0500,S
5,6,0,3,"Moran, Mr. James",Male,28,0,0,330877,8.4583,Q
6,7,0,1,"McCarthy, Mr. Timothy J",Male,54,0,0,17463,51.8625,S
7,8,0,3,"Palsson, Master. Gosta Leonard",Male,2,3,1,349909,21.0750,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Female,27,0,2,347742,11.1333,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",Female,14,1,0,237736,30.0708,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",Female,4,1,1,PP 9549,16.7000,S
11,12,1,1,"Bonnell, Miss. Elizabeth",Female,58,0,0,113783,26.5500,S
12,13,0,3,"Saundercock, Mr. William Henry",Male,20,0,0,A/5. 2151,8.0500,S
13,14,0,3,"Andersson, Mr. Anders Johan",Male,39,1,5,347082,31.2750,S
14,15,1,3,"McGowan, Miss. Anna",Female,15,0,0,330923,8.0292,Q
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",Female,55,0,0,248706,16.0000,S
16,17,0,3,"Rice, Master. Eugene",Male,2,4,1,382652,29.1250,Q
17,18,1,2,"Williams, Mr. Charles Eugene",Male,28,0,0,244373,13.0000,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Female,31,1,0,345763,18.0000,S
19,20,1,3,"Masselmani, Mrs. Fatima",Female,28,0,0,2649,7.2250,C
20,21,0,2,"Fynney, Mr. Joseph J",Male,35,0,0,239865,26.0000,S
21,22,1,2,"Beesley, Mr. Lawrence",Male,34,0,0,248698,13.0000,S
22,23,1,3,"McGowan, Miss. Anna Annie""""",Female,15,0,0,330923,8.0292,Q
23,24,1,1,"Sloper, Mr. William Thompson",Male,28,0,0,113788,35.5000,S
24,25,0,3,"Palsson, Miss. Torborg Danira",Female,8,3,1,349909,21.0750,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",Female,38,1,5,347077,31.3875,S
26,27,0,3,"Emir, Mr. Farred Chehab",Male,28,0,0,2631,7.2250,C
27,28,0,1,"Fortune, Mr. Charles Alexander",Male,19,3,2,19950,263.0000,S
28,29,1,3,"O'Dwyer, Miss. Ellen Nellie""""",Female,28,0,0,330959,7.8792,Q
29,30,0,3,"Todoroff, Mr. Lalio",Male,28,0,0,349216,7.8958,S
30,31,0,1,"Uruchurtu, Don. Manuel E",Male,40,0,0,PC 17601,27.7208,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",Female,28,1,0,PC 17569,146.5208,C

In [ ]:
# New Column creation to check the family size
DF['FamilySize'] = DF['SibSp'] + DF['Parch'] + 1
DF.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",Male,22,1,0,A/5 21171,7.2500,S,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Female,38,1,0,PC 17599,71.2833,C,2

In [ ]:
# Creating a new boolean column 'IsAlone' to check if the person is traveling alone
DF['IsAlone'] = False
DF.loc[DF['FamilySize'] == 1, 'IsAlone'] = True
DF.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,IsAlone
0,1,0,3,"Braund, Mr. Owen Harris",Male,22,1,0,A/5 21171,7.2500,S,2,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Female,38,1,0,PC 17599,71.2833,C,2,False
2,3,1,3,"Heikkinen, Miss. Laina",Female,26,0,0,STON/O2. 3101282,7.9250,S,1,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Female,35,1,0,113803,53.1000,S,2,False
4,5,0,3,"Allen, Mr. William Henry",Male,35,0,0,373450,8.0500,S,1,True

In [ ]:
#Splitting FirstName, MiddleName, LastName and Title from FullName and reordering
DF.loc[:,'Title'] = DF['Name'].apply(lambda name: name.split(',')[1].split('.')[0].strip())
DF.loc[:,'LastName'] = DF['Name'].apply(lambda name: name.split(',')[0].strip())
DF.loc[:,'FirstName'] = DF['Name'].apply(lambda name: name.split(',')[1].split('.',1)[1].strip())
DF.loc[:,'MiddleName'] = DF['FirstName'].apply(lambda x: ' '.join(x.split(' ')[1:]) if len(x.split(' ')) > 1 else '')
DF.loc[:,'FirstName'] = DF['FirstName'].apply(lambda x: x.split(' ')[0])
columns = list(DF.columns)
new_order = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Title', 'FirstName', 'MiddleName','LastName', 'Sex', 'Age', 'SibSp', 'Parch', 'FamilySize', 'IsAlone', 'Ticket', 'Fare', 'Embarked']
DF = DF[new_order]
DF.drop('Name', axis=1, inplace=True)
DF['Ticket'] = DF['Ticket'].str.replace(r'[^0-9]*', '', regex=True)
DF.head()

,PassengerId,Survived,Pclass,Title,FirstName,MiddleName,LastName,Sex,Age,SibSp,Parch,FamilySize,IsAlone,Ticket,Fare,Embarked
0,1,0,3,Mr,Owen,Harris,Braund,Male,22,1,0,2,False,521171,7.25,S
1,2,1,1,Mrs,John,Bradley (Florence Briggs Thayer),Cumings,Female,38,1,0,2,False,17599,71.28,C
2,3,1,3,Miss,Laina,,Heikkinen,Female,26,0,0,1,True,23101282,7.92,S
3,4,1,1,Mrs,Jacques,Heath (Lily May Peel),Futrelle,Female,35,1,0,2,False,113803,53.10,S
4,5,0,3,Mr,William,Henry,Allen,Male,35,0,0,1,True,373450,8.05,S

In [ ]:
# New column creation Ischild by checking Age column
DF.loc[:, 'IsChild'] = DF['Age'] < 16
DF

/tmp/ipython-input-3524136474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF.loc[:, 'IsChild'] = DF['Age'] < 16

,PassengerId,Survived,Pclass,Name,Title,FirstName,MiddleName,LastName,Sex,Age,SibSp,Parch,FamilySize,IsAlone,Ticket,Fare,Embarked,IsChild
0,1,0,3,"Braund, Mr. Owen Harris",Mr,Owen,Harris,Braund,Male,22,1,0,2,False,A/5 21171,7.2500,S,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Mrs,John,Bradley (Florence Briggs Thayer),Cumings,Female,38,1,0,2,False,PC 17599,71.2833,C,False
2,3,1,3,"Heikkinen, Miss. Laina",Miss,Laina,,Heikkinen,Female,26,0,0,1,True,STON/O2. 3101282,7.9250,S,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Mrs,Jacques,Heath (Lily May Peel),Futrelle,Female,35,1,0,2,False,113803,53.1000,S,False
4,5,0,3,"Allen, Mr. William Henry",Mr,William,Henry,Allen,Male,35,0,0,1,True,373450,8.0500,S,False
5,6,0,3,"Moran, Mr. James",Mr,James,,Moran,Male,28,0,0,1,True,330877,8.4583,Q,False
6,7,0,1,"McCarthy, Mr. Timothy J",Mr,Timothy,J,McCarthy,Male,54,0,0,1,True,17463,51.8625,S,False
7,8,0,3,"Palsson, Master. Gosta Leonard",Master,Gosta,Leonard,Palsson,Male,2,3,1,5,False,349909,21.0750,S,True
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Mrs,Oscar,W (Elisabeth Vilhelmina Berg),Johnson,Female,27,0,2,3,False,347742,11.1333,S,False
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",Mrs,Nicholas,(Adele Achem),Nasser,Female,14,1,0,2,False,237736,30.0708,C,True
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",Miss,Marguerite,Rut,Sandstrom,Female,4,1,1,3,False,PP 9549,16.7000,S,True
11,12,1,1,"Bonnell, Miss. Elizabeth",Miss,Elizabeth,,Bonnell,Female,58,0,0,1,True,113783,26.5500,S,False
12,13,0,3,"Saundercock, Mr. William Henry",Mr,William,Henry,Saundercock,Male,20,0,0,1,True,A/5. 2151,8.0500,S,False
13,14,0,3,"Andersson, Mr. Anders Johan",Mr,Anders,Johan,Andersson,Male,39,1,5,7,False,347082,31.2750,S,False
14,15,1,3,"McGowan, Miss. Anna",Miss,Anna,,McGowan,Female,15,0,0,1,True,330923,8.0292,Q,True
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",Mrs,(Mary,D Kingcome),Hewlett,Female,55,0,0,1,True,248706,16.0000,S,False
16,17,0,3,"Rice, Master. Eugene",Master,Eugene,,Rice,Male,2,4,1,6,False,382652,29.1250,Q,True
17,18,1,2,"Williams, Mr. Charles Eugene",Mr,Charles,Eugene,Williams,Male,28,0,0,1,True,244373,13.0000,S,False
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",Mrs,Julius,(Emelia Maria Vandemoortele),Vander Planke,Female,31,1,0,2,False,345763,18.0000,S,False
19,20,1,3,"Masselmani, Mrs. Fatima",Mrs,Fatima,,Masselmani,Female,28,0,0,1,True,2649,7.2250,C,False
20,21,0,2,"Fynney, Mr. Joseph J",Mr,Joseph,J,Fynney,Male,35,0,0,1,True,239865,26.0000,S,False
21,22,1,2,"Beesley, Mr. Lawrence",Mr,Lawrence,,Beesley,Male,34,0,0,1,True,248698,13.0000,S,False
22,23,1,3,"McGowan, Miss. Anna Annie""""",Miss,Anna,"Annie""""",McGowan,Female,15,0,0,1,True,330923,8.0292,Q,True
23,24,1,1,"Sloper, Mr. William Thompson",Mr,William,Thompson,Sloper,Male,28,0,0,1,True,113788,35.5000,S,False
24,25,0,3,"Palsson, Miss. Torborg Danira",Miss,Torborg,Danira,Palsson,Female,8,3,1,5,False,349909,21.0750,S,True
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",Mrs,Carl,Oscar (Selma Augusta Emilia Johansson),Asplund,Female,38,1,5,7,False,347077,31.3875,S,False
26,27,0,3,"Emir, Mr. Farred Chehab",Mr,Farred,Chehab,Emir,Male,28,0,0,1,True,2631,7.2250,C,False
27,28,0,1,"Fortune, Mr. Charles Alexander",Mr,Charles,Alexander,Fortune,Male,19,3,2,6,False,19950,263.0000,S,False
28,29,1,3,"O'Dwyer, Miss. Ellen Nellie""""",Miss,Ellen,"Nellie""""",O'Dwyer,Female,28,0,0,1,True,330959,7.8792,Q,False
29,30,0,3,"Todoroff, Mr. Lalio",Mr,Lalio,,Todoroff,Male,28,0,0,1,True,349216,7.8958,S,False
30,31,0,1,"Uruchurtu, Don. Manuel E",Don,Manuel,E,Uruchurtu,Male,40,0,0,1,True,PC 17601,27.7208,C,False
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",Mrs,William,Augustus (Marie Eugenie),Spencer,Female,28,1,0,2,False,PC 17569,146.5208,C,False

In [ ]:
# New column 'Fareperperson' creation by dividing 'Fare' and 'FamilySize' column
DF.loc[:,'FarePerPerson'] = (DF['Fare'] / DF['FamilySize'].astype('float32')).round(2)
DF.loc[:, 'Fare'] = DF['Fare'].round(2)
DF.head()

,PassengerId,Survived,Pclass,Name,Title,FirstName,MiddleName,LastName,Sex,Age,SibSp,Parch,FamilySize,IsAlone,Ticket,Fare,Embarked,IsChild,FarePerPerson
0,1,0,3,"Braund, Mr. Owen Harris",Mr,Owen,Harris,Braund,Male,22,1,0,2,False,A/5 21171,7.25,S,False,3.62
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Mrs,John,Bradley (Florence Briggs Thayer),Cumings,Female,38,1,0,2,False,PC 17599,71.28,C,False,35.64
2,3,1,3,"Heikkinen, Miss. Laina",Miss,Laina,,Heikkinen,Female,26,0,0,1,True,STON/O2. 3101282,7.92,S,False,7.92
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Mrs,Jacques,Heath (Lily May Peel),Futrelle,Female,35,1,0,2,False,113803,53.10,S,False,26.55
4,5,0,3,"Allen, Mr. William Henry",Mr,William,Henry,Allen,Male,35,0,0,1,True,373450,8.05,S,False,8.05

In [ ]:
# Checking survival rate by sex by grouping Sex and survived column with mean value
survival_rate_by_sex = DF.groupby('Sex')['Survived'].mean()
print(survival_rate_by_sex)

Sex
Female    0.8750
Male      0.1875
Name: Survived, dtype: float64

In [ ]:
## Checking survival rate by pclass sex by grouping Pclass,Sex and survived column with mean value
survival_rate_by_pclass_sex = DF.groupby(['Pclass', 'Sex'])['Survived'].mean()
print(survival_rate_by_pclass_sex)

Pclass  Sex
1       Female    1.000000
        Male      0.250000
2       Female    1.000000
        Male      0.666667
3       Female    0.800000
        Male      0.000000
Name: Survived, dtype: float64

In [ ]:
#Checking family size counts by using Familysize column value counts
family_size_counts = DF['FamilySize'].value_counts().sort_index()
print(family_size_counts)

FamilySize
1    18
2     6
3     2
5     2
6     2
7     2
Name: count, dtype: int64

In [ ]:
#Checking class_stats by grouping Pclass, Age and Fare column with mean value
class_stats = DF.groupby('Pclass')[['Age', 'Fare']].mean()
print(class_stats)

              Age       Fare
Pclass
1       37.500000  84.442175
2       33.200000  19.614160
3       22.315789  13.988816

In [ ]:
# Pivot table creation for survival analysis
survival_pivot = DF.pivot_table(
    values='Survived',
    index='Sex',
    columns='Pclass',
    aggfunc='mean'
)
print(survival_pivot)

Pclass     1         2    3
Sex
Female  1.00  1.000000  0.8
Male    0.25  0.666667  0.0

In [1]:
DF.to_excel('Final_List.xlsx',index=False)

NameError: name 'DF' is not defined